language: python
python:
  - "3.5"
  - "3.6"
cache:
  directories:
  - "$HOME/.cache/pip"
install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels defaults
  - conda config --add channels bioconda
  - conda config --add channels conda-forge
  - conda update -q conda
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION barrnap blast
  - source activate test-environment
  - python3 setup.py install
before_script:
  - pip3 install codecov
script:
  - coverage run setup.py test
after_success:
  - codecov

